<a href="https://colab.research.google.com/github/zulfanHamka/Superstore-Profitability-Analysis-Target-Products-Regions-Categories-Customer-Segments/blob/main/Superstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Superstore
### 1. They would like to understand which products, regions, categories and customer segments they should target or avoid.

### 2. regresi

### url : https://www.kaggle.com/datasets/vivek468/superstore-dataset-final/data

##Data Prosessing

In [50]:
import pandas as pd

In [51]:
Path = '/content/drive/MyDrive/latihan/project/superstore/dataSuperstore.csv'
df = pd.read_csv(Path, encoding = "latin-1")

print(df.head(10))

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
5       6  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
6       7  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
7       8  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
8       9  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710
9      10  CA-2014-115812    6/9/2014   6/14/2014  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage
5       90032    West  FUR-FU-10001487        Furniture  Furnishings
6       90032    West  OFF-AR-10002833  Office Supplies          Art
7       90032    West  TEC-PH-10002275       Technology       Phones
8       90032    West  OFF-BI-10003910  Office Supplies      Binders
9       90032    West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
6                                         Newell 322    7.2800         4
7                     Mitel 5320 IP Phone VoIP phone  907.1520         6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040         3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000         5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 21 columns]

#### Data kosong

- Tidak ada data yang null

In [52]:
print(df.isnull().sum())

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [53]:
print(df.iloc[181])

Row ID                                                         182
Order ID                                            CA-2014-166191
Order Date                                               12/5/2014
Ship Date                                                12/9/2014
Ship Mode                                             Second Class
Customer ID                                               DK-13150
Customer Name                                       David Kendrick
Segment                                                  Corporate
Country                                              United States
City                                                       Decatur
State                                                     Illinois
Postal Code                                                  62521
Region                                                     Central
Product ID                                         TEC-AC-10004659
Category                                                Technology
Sub-Category                                           Accessories
Product Name     Imation Secure+ Hardware Encrypted USB 2.0 Fla...
Sales                                                      408.744
Quantity                                                         7
Discount                                                       0.2
Profit                                                     76.6395
Name: 181, dtype: object

####Data duplikat

- Tidak ada data yang duplicated

In [54]:
df[df.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

###Menghapus Beberapa colom

In [56]:
df = df.drop(columns=["Row ID","Order ID", "Ship Date", "Ship Mode", "Customer ID", "Country","City","State","Postal Code","Product ID","Sub-Category","Discount"])

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Segment        9994 non-null   object
 3   Region         9994 non-null   object
 4   Category       9994 non-null   object
 5   Product Name   9994 non-null   object
 6   Sales          9994 non-null   float64
 7   Quantity       9994 non-null   int64
 8   Profit         9994 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.8+ KB

##EDA

In [71]:
# produk_qty = df[["Product Name", "Quantity"]]
# print(produk_qty)

produk_qty = (
    df.groupby("Product Name")[["Sales","Quantity"]]
    .sum()
    .reset_index()
    .sort_values(by=["Sales","Quantity"], ascending=False)
)

print(produk_qty.head(10))

                                          Product Name      Sales  Quantity
404              Canon imageCLASS 2200 Advanced Copier  61599.824        20
650  Fellowes PB500 Electric Punch Plastic Comb Bin...  27453.384        31
444  Cisco TelePresence System EX90 Videoconferenci...  22638.480         6
786       HON 5400 Series Task Chairs for Big and Tall  21870.576        39
686         GBC DocuBind TL300 Electric Binding System  19823.479        37
688   GBC Ibimaster 500 Manual ProClick Binding System  19024.500        48
805               Hewlett Packard LaserJet 3310 Copier  18839.686        38
787  HP Designjet T520 Inkjet Large Format Printer ...  18374.895        12
683          GBC DocuBind P400 Electric Binding System  17965.068        27
813        High Speed Automatic Electric Letter Opener  17030.312        11

####Membandingkan Perkategori

- yang laing tinggi adalah ***Technology***

In [63]:
# Kategori
# Group by Category → hitung sum(Sales) & sum(Profit)
# Bandingkan profit margin per kategori (Furniture, Office Supplies, Technology)
# Insight: kategori dengan margin tinggi → fokus

kategori = (
    df.groupby("Category")[["Sales", "Profit"]]
    .sum()
    .reset_index()
    )
print(kategori)

          Category        Sales       Profit
0        Furniture  741999.7953   18451.2728
1  Office Supplies  719047.0320  122490.8008
2       Technology  836154.0330  145454.9481

####Membandingkan PerRegion
- ***West*** Paling tinggi

In [64]:
Region = (
    df.groupby("Region")[["Sales","Profit"]]
    .sum()
    .reset_index()
    )
print(Region)

    Region        Sales       Profit
0  Central  501239.8908   39706.3625
1     East  678781.2400   91522.7800
2    South  391721.9050   46749.4303
3     West  725457.8245  108418.4489

#### Perbandingan Per-Customer Segments

In [66]:
Customersegment = (
    df.groupby("Segment")[["Sales","Profit"]]
    .sum()
    .reset_index()
)

print(Customersegment)

       Segment         Sales       Profit
0     Consumer  1.161401e+06  134119.2092
1    Corporate  7.061464e+05   91979.1340
2  Home Office  4.296531e+05   60298.6785